/* Icons */

@import "fontello.css";

[class^="icon-"], [class*=" icon-"]{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin:0;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

}

/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.ttf') format('truetype'),
         url('../fonts/opensans-extrabold.svg#open_sansextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html,body{
    height: 100%;
}

body{
    position: relative;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .4px;
    background-color: #000000;
    background-image: url("../images/stars_bg.png");

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;

    min-width: 1100px;
}

h2{
    font-weight: normal;
    font-size: 25px;
    margin-top: 0px;
}

.left_menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #eee;
}

/* Let's get this party started */
.left_menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.left_menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.left_menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(24, 22, 24);
    -webkit-box-shadow: inset 0 0 6px rgb(40, 40, 40);
}
.left_menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(254, 255, 253, 0.40);
}

.left_menu div{
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin: 2px 0;
    padding-left: 24px;
}
    .left_menu div:before,
    .legend__item:before{
        content:"";
        position: absolute;
        left: 8px;
        top: 15px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    
    .left_menu div:hover{
        background-color: rgba(255,255,255, .24);
    }

.np:before,
.legend__item--np:before{
    background-color: #a66d61;
}

.zp:before,
.legend__item--zp:before{
    background-color: #7ab342;
}

.fz:before,
.legend__item--fz:before{    
    background-color: #d8b366;
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: transform .8s;
}
.cesium-viewer-toolbar{
    display: none;
}

/* Controls */

.controls{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}
    .controls__item{
        margin-top: 10px;
        cursor: pointer;
    }

    .controls__item:first-child{
        margin-top:0;
    }

    .controls__item img{
        display: block;
    }


.map_selector{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 177px;
    height: 50px;
    overflow: hidden;
    display: none;
}

.popup_menu{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 420px;
    height: 50px;
    margin-left: -65px;
}

.popup_menu>div{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    background-color: black;
    color: #eee;
    font-size: 14px;
    line-height: 50px;
    padding-left: 65px;
    cursor: pointer;
}

.popup_menu .info{
    background-image: url("../images/infobg.png");
    background-repeat: no-repeat;
}
.popup_menu .video{
    background-image: url("../images/videobg.png");
    background-repeat: no-repeat;
}
.popup_menu .photo{
    background-image: url("../images/photobg.png");
    background-repeat: no-repeat;
}
.popup_menu .web{
    background-image: url("../images/webbg.png");
    background-repeat: no-repeat;
}

.map_selector_fader{
    position: absolute;
    width: 94px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.5;
    top: 0px;
    left: 93px;
}


.popup{
    position: absolute;
    top: 2%;
    left: 200px;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 480px;
    background-color: #ffffff;
    padding: 18px 24px 36px;
    overflow: hidden;
    z-index: 1000;

    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow:         0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
    .popup__panel{
        position: relative;
        height: 424px; 
    }

        .popup__panel__inner{
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }

.popup .info{
    margin-left: -5px;  
}

.popup__panel iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup .video iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 525px;
    overflow: hidden;
    overflow-x: hidden;
}

.popup .photo img{
    float: left;
}

.photo_container{
    padding-left: 20px;
    padding-right: 20px;
}

.photo_container img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

video{
    width: 700px;
    height: 380px;
}

.photos_left,
.photos_right{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    cursor: pointer;
}

.photos_left{
    left: -20px;
}

.photos_right{
    right: -20px;
}

.close_popup{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.menu_op_name{
    position: absolute;
    width: 320px !important;
    top: -80px;
    padding-left: 15px !important;
    padding-bottom: 25px !important;
    font-size: 20px !important;
}

.left_menu .selected_item,
.left_menu .selected_item:hover{
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.24);
}


.legend{
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: rgba(255,255,255,.82);
    padding: 10px;
    list-style-type: none;
    z-index: 2;
    border-radius: 4px;
    padding: 6px 18px 8px 7px;
    margin:0;
    font-size: 16px;
    letter-spacing: .8px;
    color: #584310;
    opacity: 1;
    transition: opacity .8s;
}
    .legend__item{
        position: relative;
        padding-left: 28px;
        margin:6px 0;
    }
        .legend__item:before{
            top: 6px;
        }

        .legend__item:first-child{
            margin-left:0;
        }

.small-header{
    font-size: 17px;
    line-height: 0px;
    width: 320px;
    background-color: #000000;
}

.photo_caption{
    margin-top: 1em;
}

/* Title */

.title{
    position: absolute;
    top: 30px;
    display: inline-block;
    left: 20px;
    padding: 24px 36px;
    border-radius: 4px;
    letter-spacing: .8px;
    font-size: 26px;
    line-height: 1.3;
    color: #fff;
    background: rgba(36, 160, 71, 0.77);
    z-index: 2;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow:         0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1300px){
    .title{
        font-size: 20px;
        padding: 20px 24px;
    }
}

/* Logo */
.logo{
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 30px;
    border-radius: 4px;
    padding: 14px 18px;
    background: rgba(255,255,255,.82);
    opacity: 1;
    transition: opacity .8s;
}
    .logo__pic{
        vertical-align: middle;
        width: 100px;
    }

    .logo__text{
        font-size: 18px;
        text-transform: uppercase;
        vertical-align: middle;
        display: inline-block;
        margin-left: 8px;
        letter-spacing: .8px;
        line-height: 1.4;
        color: #584310
    }

@media (max-width: 1300px){
    .logo{
        padding: 12px 16px;
    }
        .logo__pic{
            width: 75px;
        }
        .logo__text{
            font-size: 14px;
            line-height: 1.5;
        }
}

/* Info box */

.info-box{
    width: 50%;
    position: absolute;
    right: -50%;
    top: 0;
    background: #fff;
    padding: 0 40px 30px;
    height: 100%;
    overflow-x: hidden;    
    overflow-y: auto;
    box-sizing: border-box;
    transition: right .8s;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),  0 6px 30px 5px rgba(0, 0, 0, 0.12),  0 8px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 16px 24px 2px rgba(0, 0, 0, 0.14),  0 6px 30px 5px rgba(0, 0, 0, 0.12),  0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow:         0 16px 24px 2px rgba(0, 0, 0, 0.14),  0 6px 30px 5px rgba(0, 0, 0, 0.12),  0 8px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
    .info-box__close{
        position: absolute;
        right: 0px;
        top: 0px;
        text-decoration: none;      
        font-size: 40px;
        color: #999;
        width: 52px;
        height: 52px;
        text-align: center;
        line-height: 52px;
    }

    .info-box__close:hover{
        color: #212121;
    }

    .info-box__title{
        margin: 0;
        padding: 25px 30px 28px 0;
    }

    .info-box__gallery{
        background-color: #f5f5f5;
        margin: 0 -40px;
    }
        .info-box__gallery img{
            max-width: 100%;
        }

    .info-box__data{
        margin-top: 30px;
        font-size: 16px;
        display: table;
    }

        .info-box__data__item{
            display: table-row;
        }
            .info-box__data__value,
            .info-box__data__term{
                display: table-cell;
                padding-top: 10px;
            }

            .info-box__data__term{
                color: #888;
            }

            .info-box__data__value{
                padding-left: 16px;
            }

            .info-box__data__item:first-child .info-box__data__value,
            .info-box__data__item:first-child .info-box__data__term{
                padding-top:0;
            }


.show-info #cesiumContainer{
    transform: translate(-25%, 0);
}

.show-info .legend,
.show-info .logo{
    opacity: 0;
}

.show-info .info-box{
    right:0;
}



/* Custom fotorama */

.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr{
    transform: translate3d(0,0,0);
    opacity: .6;
    background:  none;
    width: 64px;
    height:64px;
    margin-top: -32px;
}

.fotorama--one-image .fotorama__pointer{
    cursor: default !important;
}

.fotorama__wrap--css3 .fotorama__arr.fotorama__arr--disabled,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr.fotorama__arr--disabled{
    display: none;
}

.fotorama__wrap--css3 .fotorama__arr--next:before,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--next:before,
.fotorama__wrap--css3 .fotorama__arr--prev:before,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--prev:before{
    font-family: fontello;
    font-size: 64px;
    color: #fff;
}

.fotorama__wrap--css3 .fotorama__arr--next,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--next{
    right: -7px;
}

.fotorama__wrap--css3 .fotorama__arr--prev,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--prev{
    left: -7px;
}

.fotorama__wrap--css3 .fotorama__arr--next:before,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--next:before{
    content: '\e809';  
}

.fotorama__wrap--css3 .fotorama__arr--prev:before,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr--prev:before{
    content: '\e80a';  
}
