/* Icons */

@import "fontello.css";

[class^="icon-"], [class*=" icon-"]{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin:0;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

}

/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold.eot');
    src: url('../fonts/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold.woff2') format('woff2'),
         url('../fonts/opensans-extrabold.woff') format('woff'),
         url('../fonts/opensans-extrabold.ttf') format('truetype'),
         url('../fonts/opensans-extrabold.svg#open_sansextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body{
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .4px;
    background-color: #000000;
    background-image: url("../images/stars_bg.png");

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;

}

h2{
    font-weight: normal;
    font-size: 25px;
    margin-top: -20px;
}

.left_menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #eee;
}

/* Let's get this party started */
.left_menu::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.left_menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.left_menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(24, 22, 24);
    -webkit-box-shadow: inset 0 0 6px rgb(40, 40, 40);
}
.left_menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(254, 255, 253, 0.40);
}

.left_menu div{
    position: relative;
    padding: 10px;
    cursor: pointer;
    margin: 2px 0;
    padding-left: 24px;
}
    .left_menu div:before,
    .legend__item:before{
        content:"";
        position: absolute;
        left: 8px;
        top: 15px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    
    .left_menu div:hover{
        background-color: rgba(255,255,255, .24);
    }

.np:before,
.legend__item--np:before{
    background-color: rgb(206,153,48);
}

.zp:before,
.legend__item--zp:before{
    background-color: rgb(140,200,17);
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.cesium-viewer-toolbar{
    display: none;
}


.home_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.map_selector{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 177px;
    height: 50px;
    overflow: hidden;
    display: none;
}


.map_selector_fader{
    position: absolute;
    width: 94px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.5;
    top: 0px;
    left: 93px;
}


.popup{
    position: absolute;
    top: 2%;
    left: 27%;
    width: 700px;
    height: 425px;
    background-color: #ffffff;
    border: solid 1px #333;
    padding: 50px;
    overflow: hidden;
    z-index: 1000;

    -webkit-box-shadow: 2px 2px 25px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    2px 2px 25px 5px rgba(50, 50, 50, 1);
    box-shadow:         2px 2px 25px 5px rgba(50, 50, 50, 1);
}

.popup .info{
    position: relative;
}

.popup .info iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 690px;
    height: 360px;
    overflow: hidden;
}

.popup .web iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 525px;
    overflow: hidden;
    overflow-x: hidden;
}

.popup .video iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 525px;
    overflow: hidden;
    overflow-x: hidden;
}

.popup .photo img{
    float: left;
}

.popup .photo{
    /*margin-top: 80px;*/
}

.photo_container{
    width: 700px;
    height: 380px;
    /*background-color: #333333;*/
    position: relative;
}

.photo_container img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}

video{
    width: 700px;
    height: 380px;
}

.photos_left{
    position: absolute;
    top: 150px;
    left: 0px;
    cursor: pointer;
}

.photos_right{
    position: absolute;
    top: 150px;
    left: 750px;
    cursor: pointer;
}

.close_popup{
    position: absolute;
    top: 0px;
    left: 755px;
    cursor: pointer;
}

.left_menu .selected_item,
.left_menu .selected_item:hover{
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.24);
}


.legend{
    position: absolute;
    top: 10px;
    left: 210px;
    background-color: rgba(0,0,0,.67);
    padding: 10px;
    list-style-type: none;
    z-index: 2;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(0,0,0,.67);
    padding: 6px 14px 8px 3px;
    margin:0;
}
    .legend__item{
        display: inline-block;
        position: relative;
        padding-left: 24px;
        margin:2px 0 2px 4px;
    }
        .legend__item:before{
            top: 6px;
        }

        .legend__item:first-child{
            margin-left:0;
        }

.lang_selector{
    position: absolute;
    top: 70px;
    right: 10px;
}

.photo_caption{
    margin-top: 1em;
}

.fullscreen_btn{
    position: absolute;
    top: 130px;
    right: 10px;
    cursor: pointer;
}

/* Buttons */

.btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #306799;
    padding: 0 24px;
    color: #fff;
    text-decoration: none;
    outline:0;
    border-radius: 4px;
    box-shadow: none;
    border:0;
}
    .btn:hover{
        background-color:#144776;
    }

/* Links */

.link-with-icon .[class^="icon-"], 
.link-with-icon  [class*=" icon-"]{
    vertical-align: middle;
}

.link-with-icon__text{
    vertical-align: middle;
}

/* Info panel */

.info-panel{
    position: absolute;
    left: 50%;
    bottom: 80px;
    width: 525px;
    margin-left: -163px;
    transition: bottom .6s;
    font-size: 14px
}
    .info-panel--hidden{
        bottom: -500px;
    }

    .info-panel__inner{
        position: relative;
        padding: 16px 176px 16px 20px;        
        background-color: #fff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }

    .info-panel__title{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
    }

    .info-panel__subtitle{
        color:#444;
        margin-top: 2px;
    }
    
    .info-panel__more{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .info-panel__more-link{
        position: absolute;
        right:0;
        top:0;
        width: 176px;
        height: 100%;
        z-index: 2;
    }

    .info-panel__more-link:hover + .info-panel__more{
        background-color:#144776;
    }

    .info-panel__links{
        display: table;
        width: 100%;
        margin-top: 10px;
    }
        .info-panel__links__item{
            display: table-cell;
            padding-left: 10px;
        }

        .info-panel__links__item:first-child{
            padding-left:0;
        }

        .info-panel__link{
            position: relative;
            display: block;
            padding: 12px 12px 13px;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            color: #212121;            
            background-color: #fff;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),  0 1px 18px 0 rgba(0, 0, 0, 0.12),  0 3px 5px -1px rgba(0, 0, 0, 0.2);
        }

        .info-panel__link:after{
            content:"";
            position: absolute;
            left:0;
            top:0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.12);
            display: none;
        }

        .info-panel__link:hover:after{
            display: block;
        }

        .info-panel__link.disabled{
            cursor: default;
            opacity: .5;
        }

        .info-panel__link.disabled:hover:after{
            display: none;
        }

            .info-panel__link__icon{
                margin-right: 2px;
                color: #306799;
                vertical-align: middle;
            }

            .info-panel__link__icon--video{
                font-size: 28px;
                margin-top: -2px;
                margin-bottom: -2px;
            }

            .info-panel__link__icon--route{
                margin-right: 6px;
            }

            .info-panel__link__icon--investment{
                margin-right: -4px;
                margin-left: -4px;
            }